<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\CartItemTypeResolver">
        <arguments>
            <argument name="supportedTypes" xsi:type="array">
                <item name="warranty" xsi:type="string">WarrantyCartItem</item>
            </argument>
        </arguments>
    </type>
</config>
